.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "one" "two" "three" "four" "five";
    gap: 15px;
}

@media (min-width:660px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "one one five " "two three five" "four four four";
    }
}

@media (min-width:960px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "one one two five" "three four four five";
    }
}